<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgut.liukc.trainingsystem.dao.EmployeeDao">
    <resultMap id="employeeResultMap" type="com.dgut.liukc.trainingsystem.javaBean.Employee">
        <id property="id" column="tb_emp_id"/>
        <result property="name" column="tb_emp_name"/>
        <result property="department" column="tb_emp_dept"/>
        <result property="headIcon" column="tb_emp_headicon"/>
        <result property="type" column="tb_emp_type"/>
        <result property="beginDate" column="tb_emp_begin_date"/>
        <result property="endDate" column="tb_emp_end_date"/>
        <result property="description" column="tb_emp_description"/>
        <result property="teacherId" column="tb_emp_teacher"/>
        <result property="classId" column="tb_emp_class_id"/>
    </resultMap>

    <select id="getTeacherNameById" resultType="String">
        select tb_emp_name from tb_emp where tb_emp_id = #{id}
    </select>

    <update id="updateTrainingPeriod">
        update tb_emp set tb_emp_begin_date = #{beginDate}, tb_emp_end_date = #{endDate} where tb_emp_id = #{id}
    </update>

    <select id="searchEmployeeById" resultMap="employeeResultMap">
        select * from tb_emp where tb_emp_id =  #{id}
    </select>

    <select id="searchAllEmployees" resultMap="employeeResultMap">
        select * from tb_emp;
    </select>

    <delete id="deleteEmployeeById">
        delete from tb_emp where tb_emp_id = #{id}
    </delete>

    <update id="updateEmployeeType">
        update tb_emp set tb_emp_type = #{employee.type} where tb_emp_id = #{employee.id}
    </update>

    <update id="updateEmployeeName">
        update tb_emp set tb_emp_name = #{name} where tb_emp_id = #{id}
    </update>

    <update id="updateEmployeeTeacher">
        update tb_emp set tb_emp_teacher = #{teacherId} where tb_emp_class_id = #{classId}
    </update>

    <select id="searchEmployeeByEmail" resultMap="employeeResultMap">
        select e.* from tb_emp e left join tb_emp_login_info i on e.tb_emp_id = i.tb_emp_id where i.tb_emp_login_info_email = #{email}
    </select>

    <update id="updateEmployeeClass">
        update tb_emp set tb_emp_teacher = #{employee.teacherId}, tb_emp_class_id = #{employee.classId} where tb_emp_id = #{employee.id}
    </update>
</mapper>